<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="73.1.13" targetFramework="net461" />
  <package id="cef.redist.x86" version="73.1.13" targetFramework="net461" />
  <package id="CefSharp.Common" version="73.1.130" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="73.1.130" targetFramework="net461" />
  <package id="DotNetZip" version="1.13.3" targetFramework="net461" />
  <package id="GlobalSettingsFramework" version="1.2.6" targetFramework="net461" />
  <package id="IndieGoat.Net.Updater" version="1.2.6" targetFramework="net461" />
  <package id="MaterialFramework" version="5.0.0-Beta0" targetFramework="net461" />
  <package id="UniversalClient" version="3.3.4" targetFramework="net461" />
</packages>